@keyframes stream-active {
	0% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(1.7);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
  }
}

@keyframes overlay-image {
	0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}