@import './normalize.css';
@import './common.css';
@import './variables.css';
@import './keyframes.css';

.main-header {
  position: relative;
  margin-top: 10px;
  margin-bottom: 25px;
  height: 60px;
  width: 100%;
}

.main-header__wrapper {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  height: 60px;

  background-color: var(--light-grey);

  border-radius: 25px;

  box-shadow: inset 0 0 6px 1px rgb(0 0 0 / 10%);
}

.main-header__logo {
  display: inline-block;
  width: 120px;
}

.main-header__search {
  display: flex;
}

.search__label {
  display: flex;
}

.search__input {
  width: 20vw;
  min-width: 200px;
  padding: 0.5em 1em;

  background-color: white;

  border: 1px solid var(--grey);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;

  outline: none;
}

.search__input::placeholder {
  color: black;
}

.search__input:focus {
  border: 1px solid var(--purple);
}

.search__button {
  width: 36px;

  background-color: rgba(100, 69, 255, 0.4);

  border: 1px solid var(--grey);
  border-left: none;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;

  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.search__button:hover {
  background-color: var(--purple);
  transition: all 0.2s ease-in-out;
}

.search__button--icon {
  margin-left: -3px;
  width: 18px;

  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.search__button:hover .search__button--icon {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.search__microphone {
  position: relative;
  z-index: 1;

  margin-left: 2px;
  margin-top: 3px;
  width: 32px;

  background: none;

  border: none;

  cursor: pointer;
}

.search__microphone--icon-background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 1px;

  width: 30px;
  height: 30px;

  border-radius: 25px;

  transition: all 0.4s ease-in-out;
}

.search__microphone--icon:hover~.search__microphone--icon-background {
  background-color: var(--purple);
  transition: all 0.4s ease-in-out;
}

.main-header__nav {
  display: flex;
  justify-content: flex-end;
  min-width: 120px;
}

.nav__notification {
  position: relative;

  background: none;

  border: none;
}

.nav__notification--icon {
  width: 22px;
}

.nav__notification--icon-background {
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 1px;

  width: 31px;
  height: 30px;

  border-radius: 25px;

  cursor: pointer;

  transition: all 0.4s ease-in-out;
}

.nav__notification--icon:hover~.nav__notification--icon-background {
  background-color: var(--purple);
  transition: all 0.4s ease-in-out;
}

.nav__actions {
  position: relative;
  margin: 0;
  margin-left: 10px;
}

.actions__avatar {
  width: 40px;
  height: 40px;

  border-radius: 50px;

  cursor: pointer;
}

.actions__avatar--overlay {
  opacity: 0;

  position: absolute;
  top: 0;
  right: 0;

  width: 40px;
  height: 40px;

  background-color: rgb(255, 255, 255, 0.5);
  border-radius: 25px;

  transition: all 0.4s ease-in-out;
}

.actions__avatar--overlay-icon {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 24px;
  height: 24px;
}

.nav__actions:hover .actions__avatar--overlay {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.actions__list {
  position: absolute;
  top: 40px;
  right: -20px;

  display: none;

  margin: 0;
  padding: 0;

  list-style: none;

  text-align: center;

  background-color: var(--light-grey);

  border: 1px solid var(--grey);
  border-radius: 14px;

  transition: all 0.4s ease-in-out;
}

.nav__actions:hover .actions__list {
  display: block;

  transition: all 0.4s ease-in-out;
}

.actions__item {
  padding: 1em 2em;

  border-bottom: 1px solid var(--grey);
}

.actions__item:last-child {
  border: none;
}

.actions__item:hover {
  background-color: var(--purple);
}

.actions__item:first-child:hover {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
}

.actions__item:last-child:hover {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
}

.actions__item a {
  margin-left: 22px;
  text-decoration: none;

  color: black;
}

.actions__item:hover a {
  color: white;
}

.actions__item--profile::before,
.actions__item--settings::before,
.actions__item--exit::before {
  position: absolute;
  content: '';

  width: 18px;
  height: 18px;
}

.actions__item--profile::before {
  background: url('./../images/icons/paw.svg');
}

.actions__item--settings::before {
  background: url('./../images/icons/wool.png');
}

.actions__item--exit::before {
  background: url('./../images/icons/running-cat.png') no-repeat;
}

.main {
  position: relative;

  display: flex;
  width: 100%;
}

.sidebar {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px 25px;
  height: calc(100vh - 115px);
  min-width: 350px;
  width: 350px;

  background-color: var(--light-grey);

  border-radius: 25px;

  box-shadow: inset 0 0 6px 1px rgb(0 0 0 / 10%);
}

.sidebar__wrapper {
  width: 264px;
}

.sidebar__title,
.social__title {
  display: inline-block;
  padding: 10px;
  margin: 0 0 10px;

  text-align: center;
}

.social__title {
  margin-top: 10px;
}

.social__title::selection {
  color: white;

  background-color: var(--purple);
  border-radius: 20px;
}

.streamers__list {
  margin: 0;
  padding: 0;
  height: calc(100vh - 354px);

  list-style: none;
  overflow: auto;
}

.streamer__cat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  margin-bottom: 12px;
  width: 254px;
  height: 62px;

  border-radius: 14px;

  transition: all 0.4s ease-in-out;
}

.streamer__cat:hover {
  background-color: var(--purple);
  transition: all 0.4s ease-in-out;
}

.streamer__cat:hover .streamer__cat__link,
.streamer__cat:hover .stream__status {
  color: white;
  transition: all 0.4s ease-in-out;
}

.streamer__cat__link {
  display: flex;
  align-items: center;
  margin-right: 18px;

  color: black;
  font-weight: bold;
  text-decoration: none;

  text-overflow: ellipsis;
  overflow: hidden;
}

.streamer__cat__link span {
  width: 110px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.streamer__cat__avatar {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;

  border-radius: 50px;
}

.stream__status {
  position: relative;
}

.stream__active::before {
  position: absolute;
  content: '';
  top: 5px;
  left: -14px;

  width: 6px;
  height: 6px;

  background-color: red;

  border-radius: 10px;

  animation: stream-active 3s infinite linear;
}

.social__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 30px;

  list-style: none;
}

.social__item {
  position: relative;
  width: 32px;
  height: 32px;
}

.social__link {
  position: relative;
  z-index: 2;

  display: inline-block;
  width: 40px;
  height: 40px;

  font-size: 0;
}

.social__link object {
  position: absolute;
  left: 0;
  z-index: 0;

  top: 4px;
  left: 4px;

  width: 32px;
  height: 32px;

  transition: all 0.2s ease-in-out;
}

.social__link--overlay {
  position: relative;
  z-index: -1;

  width: 40px;
  height: 40px;

  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.social__link--overlay--inst {
  border-radius: 14px;
}

.social__link--inst:hover~.social__link--overlay--inst,
.social__link--tg:hover~.social__link--overlay,
.social__link--fb:hover~.social__link--overlay {
  background-color: var(--purple);
  transition: all 0.2s ease-in-out;
}

.main-content {
  position: relative;
  padding-right: 6px;
  flex-grow: 1;
}

.main-content__wrapper {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 0 25px;
  height: calc(100vh - 115px);
  width: 100%;

  overflow: hidden;
  overflow-y: auto;
}

.categories__wrapper {
  position: relative;
  min-height: 98px;
  height: 98px;
  width: 100%;
}

.categories {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 68px;

  background-color: var(--light-grey);

  border-radius: 25px;

  box-shadow: inset 0 0 6px 1px rgb(0 0 0 / 10%);

  overflow-x: auto;
}

.categories__list {
  display: flex;
  margin: 0;
  padding: 5px 15px;


  list-style: none;
}

.categories__item {
  display: flex;
  padding: 2px 10px;
  margin-right: 20px;
}

.categories__item button {
  padding: 5px 20px;

  color: rgba(0, 0, 0, 0.5);

  background: rgba(100, 69, 255, 0.2);

  border: 1px solid rgba(100, 69, 255, 0.4);
  border-radius: 25px;

  cursor: pointer;

  transition: all 0.4s ease-in-out;
}

.categories__item button:hover,
.categories__item:first-child button {
  color: white;

  background: var(--purple);

  border: 1px solid white;
}

.categories__item button:hover {
  transition: all 0.4s ease-in-out;
}

.categories__item:last-child button {
  margin-right: 15px;
}

.slider {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  width: 100%;

  transform-style: preserve-3d;
}

.slider__wrapper {
  position: relative;
}

.slider__radioButton {
  display: none;
}

.slider__slides {
  position: relative;

  width: 730px;
  height: 320px;
}

.slides__item {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;

  display: flex;
  width: 730px;
  height: 320px;

  background: var(--light-grey);

  border-radius: 50px;

  box-shadow: inset 0 0 6px 1px rgb(0 0 0 / 10%);

  transition: transform .4s ease;

  cursor: pointer;
}


#slide-1:checked~.slider__slides #streamer-3,
#slide-2:checked~.slider__slides #streamer-1,
#slide-3:checked~.slider__slides #streamer-2 {
  transform: translatex(-40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#slide-1:checked~.slider__slides #streamer-2,
#slide-2:checked~.slider__slides #streamer-3,
#slide-3:checked~.slider__slides #streamer-1 {
  transform: translatex(40%) scale(.8);
  opacity: .4;
  z-index: 0;
}

#slide-1:checked~.slider__slides #streamer-1,
#slide-2:checked~.slider__slides #streamer-2,
#slide-3:checked~.slider__slides #streamer-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#slide-1:checked~.slider__slides #streamer-2 .slides__item__image--overlay,
#slide-1:checked~.slider__slides #streamer-3 .slides__item__image--overlay,
#slide-2:checked~.slider__slides #streamer-1 .slides__item__image--overlay,
#slide-2:checked~.slider__slides #streamer-3 .slides__item__image--overlay,
#slide-3:checked~.slider__slides #streamer-2 .slides__item__image--overlay,
#slide-3:checked~.slider__slides #streamer-1 .slides__item__image--overlay {
  display: none;
}

.slides__item a {
  text-decoration: none;
  color: inherit;
}

.sildes__item__image--wrapper {
  position: relative;
  display: flex;
  width: 70%;
}

.slides__item__image {
  display: inline-block;
  width: 100%;

  border-radius: 50px;

  box-shadow: 4px 0 5px rgba(0, 0, 0, 0.5);
}

.slides__item__views {
  position: absolute;
  z-index: 2;
  right: 40px;
  bottom: 20px;

  padding: 5px 10px 5px 20px;

  color: white;

  background: rgba(0, 0, 0, 0.8);

  border-radius: 24px;
}

.slides__item__views::before {
  position: absolute;
  content: '';
  left: 6px;
  top: 10px;

  width: 8px;
  height: 8px;

  background: red;

  border-radius: 8px;

  animation: stream-active 3s infinite linear;
}

.slides__item__image--overlay {
  position: absolute;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.8);

  border-radius: 50px;

  transition: all 0.4s ease-in-out;
}

.overlay--image {
  animation: overlay-image 3s infinite linear;
}

.sildes__item__image--wrapper:hover .slides__item__image--overlay {
  display: flex;

  transition: all 0.4s ease-in-out;
}

.sildes__item__image--wrapper:hover .slides__item__views {
  display: none;
}

.slides__item__info--wrapper {
  width: 30%;
  padding: 14px;
}

.slides__item__channel {
  display: flex;
  align-items: center;
}

.slides__item__channel--image {
  display: inline-block;
  width: 60px;
  height: 60px;
  margin-right: 10px;

  border-radius: 50px;
}

.slides__item__channel--title {
  margin: 0;
  padding: 0;

  font-size: 1em;
}

.slides__item__channel--name {
  margin: 0;
  padding: 0;
}

.slides__item__channel--title:hover,
.slides__item__channel--name:hover {
  color: var(--purple);
}

.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.streamers {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  row-gap: 10px;
  column-gap: 10px;
  width: 100%;
}

.stream {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 450px;
  margin: 0 auto;

  background: var(--light-grey);

  border-radius: 25px;

  box-shadow: inset 0 0 6px 1px rgb(0 0 0 / 10%);
}

.stream__preview-image__wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 450px;
  height: 240px;
}

.stream__preview-image__wrapper a {
  display: block;
  width: 95%;
  height: 95%;
}

.stream__preview-image {
  width: 100%;
  height: 100%;
  margin-top: 10px;

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.stream__preview-image--overlay {
  position: absolute;
  top: 10px;
  left: 10px;

  display: none;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 95%;
  height: 95%;

  background: rgba(0, 0, 0, 0.8);

  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  transition: all 0.4s ease-in-out;
}

.stream__preview-image--overlay img {
  height: 100%;
  width: 50px;
}

.stream__link:hover .stream__preview-image--overlay {
  display: flex;

  transition: all 0.4s ease-in-out;
}

.stream__live {
  position: absolute;

  left: 24px;
  top: 30px;

  padding: 5px 10px;

  color: white;

  background: rgba(255, 0, 0, 0.8);

  border-radius: 10px;
}

.stream__viewers {
  position: absolute;
  right: 20px;
  bottom: 10px;

  padding: 5px 10px;

  color: white;

  background: rgba(0, 0, 0, 0.8);

  border-radius: 10px;
}

.stream__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 10px;
}

.stream__info__wrapper {
  display: flex;
  align-items: center;
}

.stream__info__wrapper a {
  text-decoration: none;
  color: inherit;
}

.stream__image {
  width: 50px;
  height: 50px;
  margin-right: 20px;

  border-radius: 50px;
}

.stream__title,
.stream__user {
  margin: 0;
  padding: 0;
  max-width: 308px;

  white-space: nowrap;
  text-overflow: ellipsis;

  overflow: hidden;
}

.stream__title:hover,
.stream__user:hover {
  color: var(--purple);
}

.stream__options {
  width: 22px;
  height: 32px;

  background: url('/images/icons/options.svg') no-repeat center;

  cursor: pointer;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  margin: 10px auto 0;

  text-align: center;
}

.footer__copyright {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 5px;
}

.main-content__wrapper::-webkit-scrollbar,
.streamers__list::-webkit-scrollbar,
.categories::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.main-content__wrapper:hover::-webkit-scrollbar,
.streamers__list:hover::-webkit-scrollbar,
.categories:hover::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.main-content__wrapper::-webkit-scrollbar-thumb,
.streamers__list::-webkit-scrollbar-thumb,
.categories::-webkit-scrollbar-thumb {
  background: rgba(100, 69, 255, 0.2);

  border-radius: 40px;
}

.main-content__wrapper::-webkit-scrollbar-thumb:hover,
.streamers__list::-webkit-scrollbar-thumb:hover,
.categories::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 69, 255);
}

@media screen and (max-width: 1800px) {
  .streamers {
    grid-template-columns: 1fr 1fr;
  }

  .stream {
    min-width: 425px;
  }
}

@media screen and (max-width: 1640px) {
  .slider {
    align-items: flex-start;
  }

  #slide-1:checked~.slider__slides #streamer-3,
  #slide-2:checked~.slider__slides #streamer-1,
  #slide-3:checked~.slider__slides #streamer-2 {
    transform: none;
    opacity: 0;
    z-index: 0;
  }

  #slide-1:checked~.slider__slides #streamer-2,
  #slide-2:checked~.slider__slides #streamer-3,
  #slide-3:checked~.slider__slides #streamer-1 {
    transform: translatex(50%) scale(.8);
    opacity: .9;
    z-index: 0;
  }

  #slide-1:checked~.slider__slides #streamer-1,
  #slide-2:checked~.slider__slides #streamer-2,
  #slide-3:checked~.slider__slides #streamer-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
  }

  #slide-1:checked~.slider__slides #streamer-2 .slides__item__image--overlay,
  #slide-1:checked~.slider__slides #streamer-3 .slides__item__image--overlay,
  #slide-2:checked~.slider__slides #streamer-1 .slides__item__image--overlay,
  #slide-2:checked~.slider__slides #streamer-3 .slides__item__image--overlay,
  #slide-3:checked~.slider__slides #streamer-2 .slides__item__image--overlay,
  #slide-3:checked~.slider__slides #streamer-1 .slides__item__image--overlay {
    display: none;
  }
}

@media screen and (max-width: 1510px) {
  .slider {
    align-items: center;
  }

  #slide-1:checked~.slider__slides #streamer-2,
  #slide-2:checked~.slider__slides #streamer-3,
  #slide-3:checked~.slider__slides #streamer-1 {
    transform: none;
    opacity: 0;
    z-index: 0;
  }

  .stream__image {
    width: 30px;
    height: 30px;
  }

  .stream__info {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 1200px) {
  .sidebar {
    min-width: 70px;
    width: 70px;
  }

  .sidebar__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 70px;
  }

  .streamers__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70px;
    height: calc(100vh - 254px);
  }

  .streamer__cat {
    margin: 0 0 10px 0;
    padding: 0;
    width: 50px;
    height: 50px;
  }

  .sidebar__title,
  .social__title {
    display: none;
  }

  .streamer__cat__link {
    margin: 0;
  }

  .streamer__cat__link img {
    margin: 0;
  }

  .streamer__cat__link span {
    display: none;
  }

  .stream__status {
    display: none;
  }

  .social {
    margin: 0 0 5px 0;
  }

  .social__list {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .social__item {
    width: 32px;
    height: 32px;
    margin: 0 0 10px 0;
  }

  .social__link {
    width: 32px;
    height: 32px;
  }

  .social__link object {
    top: 0;
    left: 0;
  }

  .social__link--overlay {
    display: none;
  }

  .slider {
    align-items: flex-start;
  }

  #slide-1:checked~.slider__slides #streamer-2,
  #slide-2:checked~.slider__slides #streamer-3,
  #slide-3:checked~.slider__slides #streamer-1 {
    transform: translatex(70%) scale(.8);
    opacity: .9;
    z-index: 0;
  }
}

@media screen and (max-width: 1030px) {
  .slider {
    align-items: center;
    height: 220px;
  }

  .slides__item {
    width: 450px;
    height: 220px;
  }

  .slides__item__channel--image {
    display: none;
  }

  .slides__item__channel--title {
    font-size: 0.7em;

    overflow: hidden;
    text-overflow: ellipsis;
  }

  .slides__item__channel--name,
  .slides__item__description {
    font-size: 0.6em;
  }

  .streamers {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 890px) {
  .slider {
    align-items: center;
  }
  
  .slider__slides {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .slides__item {
    margin: 0 auto;
  }

  #slide-1:checked~.slider__slides #streamer-2,
  #slide-2:checked~.slider__slides #streamer-3,
  #slide-3:checked~.slider__slides #streamer-1 {
    transform: none;
    opacity: 0;
    z-index: 0;
  }
}

@media screen and (max-width: 620px) {
  .main-header__search {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .main-content__wrapper {
    padding: 0;
  }
}